 :root {
	/* Change primary color from blue to indigo */

	--primary-color: var(--indigo-color);                                     /* Before: var(--blue-color) */
	--primary-color-light: var(--indigo-color-light);                         /* Before: var(--blue-color-light) */
	--primary-color-very-light: var(--indigo-color-very-light);               /* Before: var(--blue-color-very-light) */
	--primary-color-dark: var(--indigo-color-dark);                           /* Before: var(--blue-color-dark) */
	--primary-color-very-dark: var(--indigo-color-very-dark);                 /* Before: var(--blue-color-very-dark) */
	--primary-box-shadow-color: var(--indigo-box-shadow-color);               /* Before: var(--blue-box-shadow-color) */
	--primary-box-shadow-color-darker: var(--indigo-box-shadow-color-darker); /* Before: var(--blue-box-shadow-color-darker) */
	--text-color-on-primary-color-bg: var(--text-color-on-indigo-color-bg);   /* Before: var(--text-color-on-blue-color-bg) */

	/* Card */

	--card-border-radius: 1.2rem;                           /* Before: var(--base-border-radius) */

	/* Card (light mode only) */

	--lm-card-bg-image: linear-gradient(#f7f7f7, #ced6e0);  /* Before: none */
	--lm-card-border-color: #ffffff;                        /* Before: rgba(0, 0, 0, 0.2) */
	--lm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);    /* Before: none */

	/* Card (dark mode only) */

	--dm-card-bg-image: linear-gradient(#191c20, #111417);  /* Before: none */
	--dm-card-border-color: rgba(255, 255, 255, 0.1);       /* Before: rgba(0, 0, 0, 0.2) */
	--dm-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);     /* Before: none */

	/* Primary button (light mode only) */

	--lm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark));             /* Before: none */
	--lm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark)); /* Before: none */

	/* Primary button (dark mode only) */

	--dm-button-primary-bg-image: linear-gradient(var(--primary-color), var(--primary-color-dark));             /* Before: none */
	--dm-button-primary-bg-image-hover: linear-gradient(var(--primary-color-light), var(--primary-color-dark)); /* Before: none */
	}
